<div class="input-label">Namen eingeben</div>
<ng-select [items]="people$ | async"
           placeholder="Name: "
           bindLabel="name"
           [addTag]="true"
           [multiple]="false"
           [hideSelected]="true"
           [trackByFn]="trackByFn"
           [minTermLength]="2"
           [loading]="peopleLoading"
           i18n-typeToSearchText="@@typeToSearchText"
           typeToSearchText="Bitte gib mindestens zwei Zeichen ein"
           i18n-addTagText="@@addTagText"
           addTagText="Hinzufügen"
           [typeahead]="peopleInput$"
           [(ngModel)]="selectedPerson"
           (blur)="selected($event)"
           (change)="change($event)"
           #searchBar
           class="name-input-container"></ng-select>
           

<h2 class="selected-person-title">{{ personName || selectedPerson?.name || 'Keine Person' }} ausgewählt</h2>

<div class="fields-container">
  <!-- Dynamische Felder -->
  <div class="person-header">
    <mat-form-field class="full-width small-name-field">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="personName">
    </mat-form-field>
  </div>

  <app-field *ngFor="let field of personData" [field]="field" (saved)="onFieldSaved($event, field)"></app-field>

  <!-- Neues Feld mit Autovervollständigung -->
  <mat-form-field class="full-width">
    <mat-label>Neues Feld</mat-label>
    <input type="text"
           placeholder="Auswählen/Eingeben"
           aria-label="Neues Feld"
           matInput
           [formControl]="newFieldControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" 
                  [value]="option" 
                  (click)="addNamedField(option)">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>

<!-- Button unten rechts -->
<div class="editor-actions">
  <button mat-flat-button color="primary" (click)="saveAll()">Save All</button>
  <button mat-button class="add-field-button" (click)="addField()">Hinzufügen</button>
</div>
